[2016-05-25 22:57] amoeba opened #1 "Change use of create/updateObject to expect strings instead of XML"
As changed in https://github.com/DataONEorg/rdataone/commit/a3ed1bb2ec9d222f7bc2c9784cadfb3bb2492c4f, `createObject` and `updateObject` now return strings (instead of XML) containing the identifier of the created/updated object.

I need to modify code that uses these two functions to handle this change.

[2016-05-26 01:02] #1 closed

[2016-06-08 19:05] amoeba opened #2 "Improve token set/expiry methods to handle multiple tokens"
If two tokens are set, weird stuff happens.

[2016-06-10 19:30] amoeba opened #3 "Add support for manually specifying identifier in publish_update"

[2016-06-10 20:07] #3 closed

[2016-06-20 19:05] gothub commented on #2
@amoeba Is this a problem with the dataone R client token handling?

[2016-06-20 19:06] amoeba commented on #2
Not actually sure yet. It crops up when a user has set both a production and a test token. I'll see if I can figure it out real quick.

[2016-06-20 19:12] amoeba commented on #2
At the very least, this is kind of weird behavior:

[code]

[2016-06-20 19:21] amoeba commented on #2
Oh, that's just because I set bogus tokens. Let me set real ones and test.

[2016-06-20 19:27] #2 closed

[2016-06-20 19:27] amoeba commented on #2
Yeah, this looks good on the rdataone end. Just a bug on my end.

[2016-08-16 23:33] amoeba opened #4 "Remove EML access sub-trees when updating EML metadata"
Metadata documents created or edited by the registry script end up with EML `access` elements at the `/eml/dataset` level which are no longer respected by Metacat. The R package currently leaves these in tact when updating packages but it would be better if it removed them.

In the `publish_update` function, when updating the `packageId` and `system`, also remove any EML `access` elements before c

[2016-08-19 02:24] amoeba opened #5 "Catch autogen PIDd"
Not just arcticdata pids

[2016-08-23 17:32] amoeba opened #6 "Improve the sysmeta filename error message"
Right now, if one or more data objects in your `publish_update` command doesn't have its sysmeta `fileName` property set, you get:

I want to improve this error so the student knows what to do.

[2016-08-24 18:07] amoeba opened #7 "Fix get_package and the number of rows"
I see that the solr query in `get_package` uses rows=1000. Probably should:
- Increase the count
- Warn if the number of rows returned is as the max
- Allow the user to specify rows

[2016-08-24 18:08] amoeba opened #8 "Debug why get_package returns different sets of pids than get_related_pids"
Jesse mentioned this in Slack, here's an example he pasted:

[code]

See what's going on.

[2016-08-24 23:43] amoeba opened #9 "Parallelize easily-parallelizable parts of the package"
- Checking object existence
- Checking object formatType/Id
- Checking `isAuthorized`

[2016-08-26 01:34] #6 closed

[2016-09-02 18:46] amoeba commented on #8
`get_related_pids` was just returning the the `identifier`, `resourceMap`, and `documents` fields from the given PID's Solr document.
`get_package` does that, and more!
Should remove `get_related_pids`

[2016-09-02 18:47] #8 closed

[2016-09-02 18:47] amoeba commented on #5
wrong repo!

[2016-09-02 18:47] #5 closed

[2016-09-07 02:22] amoeba opened #10 "get_all_versions fails if one doc isn't readable"
[code]

[2016-09-07 02:22] amoeba opened #11 "get_package doesn't warn if the package wasn't found"
It just returns an empty `list()` right now.

[2016-09-07 02:44] amoeba opened #12 "set_file_name doesn't check the fileName before updating"

[2016-09-07 14:43] amoeba opened #13 "Do what it takes to get ?arcticdatautils working"

[2016-09-07 14:44] amoeba opened #14 "Remove on-disk logging in interactive functions"

[2016-09-14 18:38] amoeba opened #15 "Add a flag to `get_package` to return filenames"
These could be returned as a named vector with the names being the sysmeta `fileName`

[2016-09-22 19:24] amoeba opened #16 "Remove automated logging from the package"
Interns may like it, so ask them and find a way to keep it in if they use it.

[2016-10-10 19:28] amoeba opened #17 "Fix bug in creating checksums"
@csjx found that many objects, ostensibly created by this package, failed to sync from the test arctic MN into a test CN env. It looks like this is caused by my use of `serialize=TRUE` when calling `digest::digest` and not using `file=TRUE`.

The following code shows the issue and the proper code for computing checksums on the file itself, which is what's needed when synchronizing:

[code]

- Chan

[2016-10-10 19:50] #17 closed

[2016-10-21 18:00] amoeba opened #18 "Add ability to give a custom PID in update_object"

[2016-10-21 21:09] amoeba commented on #18
Done 425cabc7485db1fac76b62b88778243653ecfbe1

[2016-10-21 21:09] #18 closed

[2016-10-21 21:09] amoeba commented on #15
Done a while ago!

[2016-10-21 21:09] #15 closed

[2016-10-24 18:01] amoeba opened #19 "Add a validation routine for format_id to ensure they are valid"
Just warn after the package is created. We had a package come in from the package with an object that had a format ID of 'xml'

[2016-11-07 17:04] amoeba opened #20 "Override `replicationAllowed` property in System Metadata to disable replication temporarily"
While working on registering arcticdata.io in production, @csjx noticed most objects have their `replicationAllowed` property set to `TRUE` in their System Metadata. We need this to be off for now due to NCEI not being a Tier 4 MN. `datapack` sets this to `TRUE` by default and sets 3 replicas.

Go through everywhere in the code the Data Team uses and manually disable replication on every call.

[2016-11-08 18:20] amoeba opened #21 "Adjust token messages now that arcticdata.io is in the prod env"
We put arcticdata.io into the production environment today (`mn@env = 'prod`') so I need to adjust the package around that change.

[2016-11-10 23:54] amoeba opened #22 "Change uses of class(x) == y to is(x, y)"

[2016-12-19 22:37] amoeba opened #23 "Rewrite routines generating resource maps"
The routines in this package that generate resource maps aren't smart (enough). They totally disregard the triples in previous versions of the resource map and generate the next version's resource map from scratch. This isn't usually a problem but it will be once/if we add PROV triples to resource maps because they'll get removed when we update a package.

Off the top of my head, the only function

[2016-12-20 15:46] amoeba opened #24 "Integrate the newer xslt package in favor of the current one"
Just got wind of this: https://github.com/jeroenooms/xslt. This will be a more popular project than the one I'm currently using and it looks like the installation is easier.

[2017-01-18 02:08] amoeba commented on #23
FIxed in 3dc4b147947e474a6a1f189fc31b89d7c3d5d5bb

[2017-01-18 02:08] #23 closed

[2017-01-18 02:08] amoeba commented on #24
Fixed in 10df03c04ab8d996f3137b4890e1dc35ef79b205

[2017-01-18 02:08] #24 closed

[2017-01-18 02:09] amoeba commented on #21
Closing because I think this is done and things are working as-is.

[2017-01-18 02:09] #21 closed

[2017-01-18 02:09] amoeba commented on #20
This is no longer needed as `datapack` has been fixed.

[2017-01-18 02:09] #20 closed

[2017-01-18 02:10] amoeba commented on #14
Closing because dupe of #16

[2017-01-18 02:10] #14 closed

[2017-01-19 20:22] amoeba opened #25 "get_all_versions doesn't fail gracefully when it hits a private object"
[code]

[2017-02-02 22:38] amoeba opened #26 "Remove now-unneeded package deps"
At least one package can be removed as a dep now that it's no longer a core part:

- ncdf4

Probably more?

[2017-02-09 18:59] amoeba opened #27 "Add helpers for other parts of EML"
Jeanette requested helpers for metadata provider and associatedparty. So write these.

[2017-02-09 19:17] #27 closed

[2017-02-11 00:23] amoeba opened #28 "Add one or more helper functions to extract attributes from files"
This is primarily aimed at NetCDF files.

To speed up creating `dataTable` and `attribute` elements, we could extract as much information as possible that's relevant to creating an EML `dataTable` from an individual NetCDF file.

Write one for NetCDF and maybe think of others.

[2017-02-16 00:07] amoeba opened #29 "Turn on automatic guessing of format_id"
`publish_object` defaults to application/octet-stream if the `format_id` arg is left off. Turn on guessing via `guess_format_id`. Also use the custom NetCDF-specific format ID guesser for all `.nc` files.

[2017-02-16 00:09] amoeba commented on #29
Add `wav` in there. and other format ids we've added recently like R

[2017-02-16 00:37] amoeba commented on #29
Also add a mapping for cdf to netcdf

[2017-03-09 02:31] amoeba opened #30 "Add size units to otherEntity routines"

[2017-03-10 19:05] amoeba opened #31 "Add a helper for entity references"
Also consider a helper for other common things to reference

[code]

something like that

[2017-03-17 21:09] amoeba opened #32 "Make it possible for arcticdata.io specific stuff to be avoided"
esp w/in `publish_update`

[2017-03-22 22:42] amoeba opened #33 "Refresh docs for update_object"
They're out of sync with the func sig

[2017-03-28 21:12] amoeba opened #34 "Add a routine for mdq checking docs"

[2017-05-16 21:01] amoeba opened #35 "Remove work-arounds for tokens and token selection warnings"

[2017-05-25 23:13] amoeba opened #36 "Improve publish_update so it's smarter about parent_child_pids"
publish_update, when updating a parent, does add the updated child resource map to the list of parent child pids but it doesn't remove the old parent child pid if it's still referenced in parent_child_pids. This would be a nice safeguard.

Optionally, can updating the parent be done automatically? I think so now.......

[2017-05-25 23:13] amoeba commented on #36
Also update the docs to be more clear

[2017-07-26 03:27] amoeba opened #38 "Make set_rights/set_rights_and_access check object class is SysMeta"
These functions trust the result but I think getSystemMetadata doesn't error out when it fails.

[2017-08-23 23:01] jeanetteclark opened #40 "Add userID argument to eml_party functions"
Need to add a userID argument to eml_party functions to easily incorporate adding ORCIDs to EML in datateam workflow

`eml_creator`
`eml_contact`
`eml_associated_party`

[2017-08-24 15:17] amoeba commented on #40
This is great, thanks for filing. Do you or an data team member wanna take a crack at this?

[2017-08-24 15:19] jeanetteclark commented on #40
yeah I can do it, not happening before I go out of town though. If someone gets to it before me then great!

[2017-09-08 23:48] jeanetteclark commented on #40
done (I think) and added a pull request (#41)

[2017-09-11 22:43] amoeba commented on #40
Thanks! I merged the PR and added a commit with some minor tweaks on top: https://github.com/NCEAS/arcticdatautils/commit/8c242e8ae3ce102648368e82218d1902faa3b79c

[2017-09-11 22:46] #40 closed

[2017-09-21 16:21] amoeba commented on #22
Closed by https://github.com/NCEAS/arcticdatautils/pull/42  Thanks @ThomasThelen!

[2017-09-21 16:21] #22 closed

[2017-09-21 18:18] ThomasThelen opened #43 "Setting Up Authentication in Unit Tests"
### Issue
While running the articdatautils, three tests are skipped, and fifteen failures are detected. I believe this issue has to do with my session token. I set a browser() breakpoint, which can be seen in the dump below, but can be ignored.

It appears that the issue isn't with code integrity, rather it is a problem with my session token. I believe this is the case because before the failures,

[2017-09-21 18:55] amoeba commented on #43
Thanks for the highly-detailed Issue! I think the issue lies in how you're setting your authentication token. The test suite can run integration tests (conditional on a authentication token being set) which interact with a testing DataONE Member Node and these tests require an authentication token. The snippet of code in the README:

[code]

is vague on that fact that it's an example snippet and n

[2017-09-21 19:02] amoeba commented on #43
BTW: I've updated the readme a bit to be more clear about this: https://github.com/NCEAS/arcticdatautils#testing

[2017-09-25 16:28] ThomasThelen commented on #43
Thanks that fixed it all!

[2017-09-25 16:28] #43 closed

[2017-09-29 22:18] jeanetteclark opened #44 "update dataone formatIDs"
the list of formatIDs called by the package needs to be updated. I couldn't find the actual list but did find where it is referenced:

from `publish_object`

[code]

[2017-09-29 22:26] amoeba commented on #44
The variable D1_FORMATS is stored in R/sysdata.rda which is an R package development convention so it's hard to find without magically knowing that.

To fix the ultimate issue which is the potential for a discrepancy between this cached set of format IDs and the actual set of format IDs on the CN, I guess we could do two things:

1. Update this file and re-release the package
  - Pros: Fixes the p

[2017-09-29 22:28] jeanetteclark commented on #44
I feel okay with (2) as well. 2 seconds seems like something we can handle.

Thanks Bryce!

[2017-09-30 00:02] amoeba commented on #44
I'm glad it's Friday. After I added this feature, I re-ran Sharis' code and realized this wasn't actually her problem. She had a typo in her format ID:

Hers: `application/vnd.google-earth.kml/xml` (wrong)
DataONE's: `application/vnd.google-earth.kml+xml` (right)

But anyway, this feature is done.

[2017-09-30 00:04] #44 closed

[2017-09-30 00:20] jeanetteclark commented on #44
Oh dear. Yes. Thankfully it's Friday. I guess this is what happens when bugs come in while Jesse and I are out at lunch 😳 Sorry about the false alarm

[2017-11-03 19:03] jagoldstein opened #46 "eml_metadata_provider(): “metadata_provider” is not a defined class"
Function `eml_metadata_provider` needs updating.

```Error in getClass(Class, where = topenv(parent.frame())) :```
```“metadata_provider” is not a defined class```

[2017-11-03 19:05] amoeba commented on #46
Thanks for the report! @jeanetteclark already PR'd this and I've merged it: https://github.com/NCEAS/arcticdatautils/pull/45. Please re-open this Issue if it crops up again.

[2017-11-03 19:05] #46 closed

[2017-11-06 18:16] amoeba opened #47 "Modify rights/access functions to prevent use of `https` ORCID URIs"
Functions like `set_rights_and_access` can be passed any `Subject` and a common mistake is to pass in an HTTPS ORCID URI for a `Subject`. This is a problem because DataONE only uses the HTTP form and doesn't consider the HTTPS variant to be equivalent. So, currently, the user has to be careful to not to use the HTTPS form.

The various functions that set `rightsHolder` and `accessPolicy` informati

[2017-11-06 18:19] amoeba commented on #33
This is probably done it just needs to be checked.

[2017-11-06 19:13] amoeba opened #48 "Add a helper function in eml.R called `eml_user_id`"
It's common to want to set the `userId` on an existing party in an EML record and it'd be nice if there was a helper function to automate this. The helper function should do some sanity-checking on the provided value and try to figure out the `directory` automatically like the current `eml_party` function does.

[2017-11-06 19:14] amoeba commented on #48
relevant section from `eml_party` is https://github.com/NCEAS/arcticdatautils/blob/master/R/eml.R#L407

[2017-11-17 21:41] amoeba opened #49 "Add function to check indexing state for a PID"
It would be nice to have a simple function that queries the Solr index to see if the object with the given PID is indexed. e.g.,

[code]

returns boolean

[2017-11-17 21:41] amoeba opened #50 "Add support for onlineURL in parties"
Looks like the eml_party function doesn't support adding URLs. Should be a quick change!

[2017-11-18 01:17] jeanetteclark opened #51 "generation of resource maps with invalid characters"
[code]

[2017-11-19 22:06] amoeba commented on #51
Awesome, thanks for the bug report. I'll take a look at this and see which piece of software this bug lives inside.

@jeanetteclark could you elaborate on this line of your code snippet?

What does that mean?

[2017-11-20 00:08] amoeba commented on #51
PS @jeanetteclark were you able to reproduce a resource map that had this bogus content?

[code]

Specifically, the `file:///tmp` part

[2017-11-20 00:23] amoeba commented on #51
Looks like the &quot; part of this bug is related to the custom resource map parsing routine I had to put in for arcticdatautils to support PROV a while back. This package uses that routine to update an existing resource map to the next version of the package. To do that, all the triples are loaded from the RDF/XML into a `data.frame`, some simple logic is used to only update triples relating to D

[2017-11-20 00:57] amoeba commented on #51
Oh, and a PS: I didn't catch this bug during development/testing because I didn't try parsing registry-created resource maps and only tested on resource maps built in R.
PPS: Added an MRE at the top which shows what's going on a little more clearly.

[2017-11-20 17:25] gothub commented on #51
@amoeba the `datapack` resource map parsing routines `parseRDF()`, `getTriples()` currently
handles PROV statement.

I've been think about a way to 'repair' the resource maps using `datapack`, but don't have all the details yet.

[2017-11-20 17:26] jeanetteclark commented on #51
```eml@dataset@abstract@para@.Data[[2]] <- new('para', .Data = 'and edited using R') #this does not actually change anything, annoyingly```

I think this is a problem with my EML code. for some reason it does not add a new paragraph to the EML.

I haven't been able to reproduce anything with the `file://` yet but I can try this morning...I have an idea about that one

[2017-11-20 17:46] amoeba commented on #51
PPS: At least the `&quot;` regression was very likely introduced in https://github.com/NCEAS/arcticdatautils/tree/v0.5.4

[2017-11-20 17:50] amoeba commented on #51
Oh, thanks @gothub. I had looked a few times before and not seen those methods. From their names, it sounds like they'll work nicely.

[2017-11-20 23:49] csjx commented on #51
Her's the list of 1184 resource map identifiers and their upload date. This list has RDF documents with either `file://` URIs in it, or incorrect `dcterms:identifer` fields with `&quot;` entities in the statement.

[pids-with-bad-ids-and-uris.txt](https://github.com/NCEAS/arcticdatautils/files/1489512/pids-with-bad-ids-and-uris.txt)

Note that this ticket is a duplicate of https://github.nceas.ucs

[2017-11-21 00:01] gothub commented on #51
Does anyone have any clues where the 'file:///...' strings were introduced in this workflow?
I'm also noticing that the `dcterms:identifier` triples have been converted to
`rdf:resources` which is incorrect, they should be literals. Here is a sample of the incorrect
one:

[code]

Which should be
[code]

[2017-11-21 00:53] csjx commented on #51
@gothub My guess is that there is some processing code that is inadvertently passing the file object reference to `arcticdatautils::update_resource_map()` instead of the identifier of the object, and so `R` is trying to serialize a string from the object as best it can, and ends up spitting out the `file:///...` URI of the object.  This similarly happens in Java when you try to call `System.out.pr

[2017-11-21 00:56] amoeba commented on #51
The relevant parts of arcticdatautils I'd blame for bad behavior is these hacks of functions:
https://github.com/NCEAS/arcticdatautils/blob/c0adccefb452c38320b00394d32a034537243fed/R/packaging.R#L1037
https://github.com/NCEAS/arcticdatautils/blob/c0adccefb452c38320b00394d32a034537243fed/R/packaging.R#L1105

`parse_resource_map` is particularly hackish

[2017-11-21 01:14] jagoldstein commented on #51
https://arcticdata.io/catalog/#view/doi:10.18739/A2136S
I was able to add prov to the package found here ^ even though the first version was submitted via the registry and I later updated it w arcticdatautils. Peter speculates that this worked because the RDF update was performed prior to June 2017

[2017-11-21 01:43] jeanetteclark commented on #51
I checked the old version of that RM and it did not have either the `file://` or the `"&quot;` strings

[2017-11-21 07:29] csjx commented on #51
I found 154 more in the KNB:

[pids-with-bad-ids-and-uris-knb.txt](https://github.com/NCEAS/arcticdatautils/files/1490383/pids-with-bad-ids-and-uris-knb.txt)

[2017-11-21 17:18] gothub commented on #51
The R packages `dataone` and `datapack` are being updated to `repair` the problems that we have seen with resource maps:
- 'file:///' strings
- `&quot;` strings
- dcterms:identifiers as rdf:resources, not literals
- multiple creators for the aggregation or no creator for the aggregation
- anything else?

The workflow in R would be:
[code]
The package relationships would then be manually inspected

[2017-11-21 22:53] jagoldstein commented on #51
@amoeba
I am experimenting with updating EMLs with arcticdatautils both before and AFTER we have added prov. It seems the issue may only apply to RDFs that were updated via that library after June 2017.

A patch may be in order to prevent RDFs updated through arcticdatautils from inhibiting the addition of prov relationships. This may not be news to you nor very helpful info, but I am documenting

[2017-11-21 23:06] amoeba commented on #51
Thanks @jagoldstein, that is news and is helpful. I'm not actively working on this but I'm watching this thread so the extra info is helpful.

[2017-11-22 00:34] dmullen17 commented on #51
@gothub
I found another way that the resource map error can crop up:
I uploaded a data package to the arctic data center with arcticdatautils using publish_object and create_resource_map.  The error is not present in this resource map first resource map.
However if i use publish_update to give the data package a DOI, the new resource map exhibits the error, even though this data package did not or

[2017-12-19 01:59] amoeba commented on #50
This was added directly to the EML package in https://github.com/ropensci/EML/pull/232

[2017-12-19 01:59] #50 closed

[2017-12-19 01:59] amoeba commented on #49
This was implemented in 8927cf634e9899600c1c14852a69793f09a7d6ee

[2017-12-19 01:59] #49 closed

[2017-12-19 02:00] amoeba commented on #48
This was implemented in the EML package itself in https://github.com/ropensci/EML/pull/232

[2017-12-19 02:00] #48 closed

[2017-12-19 02:01] amoeba commented on #38
This still needs to get looked into. Is it possible to to get cryptic errors when things don't work as expected?

[2017-12-19 02:01] amoeba commented on #4
This can still be done. If someone picks this up, I'd like to see a unit test or two to go with it (I can help with this part).

[2017-12-19 02:02] amoeba commented on #33
Ah, this is not done. The `sid` argument is not documented.

[2017-12-20 02:34] amoeba opened #52 "Fix inconsistent use of checksumAlgorithm"
When creating new System Metadata records, this package is sometimes using a `checksumAlgorithm` of SHA1 and sometimes SHA-1. This is technically valid but, in reality, probably a bad thing. Also see https://github.nceas.ucsb.edu/KNB/arctic-data/issues/283 as it relates to the issue there.

1. Find the right way to write algorithm names
2. Change the relevant sections of code to reflect that chang

[2017-12-21 20:07] dmullen17 opened #53 "update_object doesn't update identifier field for EMLs"
Using `update_object` to update a metadata record doesn't set the packageId (eml@packageId) as the pid of the most recent version.
I'd be happy to update this (if it's a worthy change) - filing it as an issue so I don't forget.

[2017-12-22 19:26] dmullen17 commented on #4
@amoeba I'll pick this up.  It looks like it's just a matter of setting eml@access <- new("access") in the right places?

And I think I can make unit tests based on the ones you've written

[2017-12-22 22:30] amoeba commented on #4
Thanks @dmullen17, I think that'll work. Ideally we'd only nuke the access section if the function the user ran was already going to end up in an updated EML Object (i.e., `publish_update` doesn't always update the EML Object with a new one).

[2017-12-22 22:33] amoeba commented on #53
Good catch! I think `update_object` should be changed to do what you describe. Hanging on to old `packageId` values is definitely bad for our workflow here.

[2018-01-06 00:37] #53 closed

[2018-01-08 18:28] mbjones commented on #47
I think we should reconsider whether this is the right decision.  ORCID itself recommends the https form.  We recommended that LTER use the https form.  And I have been recommending that other groups use the https form.  I'm not sure how DataONE ended up using the http form, but I'll bet it was accidental and not a specific design decision.  If we change anything, it should probably be changing Da

[2018-01-08 18:43] amoeba commented on #47
Certainly an important issue. We have a related thread going on at https://redmine.dataone.org/issues/8215 which hasn't moved far but can be kickstarted. Probably the best place to discuss this though since, for now, we only support HTTP URIs for ORCID Subjects.

[2018-01-10 23:46] #4 closed

[2018-01-12 18:56] jeanetteclark opened #59 "create `pid_to_eml_datatable` helper"
similar to `pid_to_eml_other_entity`, this function will use sysmeta to generate a physical section for a dataTable object, in addition to inserting attributes and factors.

arguments

- mn = member node instance

- pid = pid of object published on that member node

- attributes = data frame of attributes with columns attributeName, attributeDefinition, measurementScale, domain, formatString, defi

[2018-01-12 23:19] amoeba commented on #59
Thanks for filing this, @jeanetteclark. That all sounds doable and awesome. Marked as a good first issue for any intrepid contributors.

This in particular is cool:

`arcticdatautils::eml_validate_attributes` is decently fast so I'd say we do this!

[2018-01-12 23:31] #12 closed

[2018-01-16 06:57] amoeba opened #61 "Clean up Imports/Suggests"
The list of Imports and Suggests in in the DESCRIPTION is probably due for some trimming down. At the very least, `ncdf4` should be removed and guarded with `requireNamespace` in relevant functions.

[2018-01-16 09:34] amoeba opened #62 "Resolve Travis build issues"
https://travis-ci.org/NCEAS/arcticdatautils/jobs/329376015

[2018-01-16 22:24] maierucsb opened #63 "Automate numberType in get_ncdf4_attributes"
Seems to me to be a possibly useful idea to automate the generation of eml defined `numberType`  from netCDF files by adding

[code]
between lines 41 and 42 in https://github.com/NCEAS/arcticdatautils/blob/master/R/attributes.R
Where:

[code]
Small but possibly helpful especially when having to go through multiple netCDF files with multiple variables. (although as written would overwrite any varia

[2018-01-20 00:29] amoeba opened #66 "Fix R CMD CHECK and roxgen issues"
Running R CMD CHECK and `devtools::document()` have been broken for a long time because I haven't had the time to fix the issues. But it's super confusing for others when there are issues because they can't see if their changes are problematic if there is already a slew of problems.

Fix issues until these operations no longer yield errors/warnings.

[2018-01-20 00:30] amoeba commented on #36
Partially done.

- [ ] Needs a test
- [ ] Needs to be mentioned in the docs

[2018-01-23 18:03] jeanetteclark commented on #63
Only issue I see here is that if the netCDF is large, this could be very, very slow. You might want to run some tests on this first

[2018-01-23 21:26] maier-m commented on #63
Yes, jeanette. I noticed this problem, it was slow with how I was determining real numbers... much faster function below.

[code]

[2018-01-23 21:42] amoeba opened #67 "Implement helpers for literature coercions"
We often want to document a citation to another resource in our EML documents and EML supports this with its [`literature` module](https://knb.ecoinformatics.org/#external//emlparser/docs/eml-2.1.1/./eml-literature.html). That said, this is very hard to use without some sort of helpers. EML supports coercions from non-EML types to EML types and for `literature`, we should be able to convert from o

[2018-01-23 22:23] amoeba opened #68 "Add helper function for copying a package from one MN to another"
This would be super helpful for testing the new Package Editor and PROV Editors:

[code]

[2018-01-23 22:34] amoeba commented on #68
This is going to go into https://github.com/NCEAS/datamgmt

[2018-01-23 22:34] #68 closed

[2018-02-02 00:18] jeanetteclark commented on #66
@amoeba I'm looking into this one as I am able to. I can't self-assign

[2018-02-02 00:30] emilyodean commented on #59
I'll take this one.

[2018-02-02 01:54] amoeba commented on #59
Awesome, thanks @emilyodean !

[2018-02-05 16:10] jeanetteclark commented on #66
I think this is complete - issues are fixed and no warnings show up. Ready to close this one @amoeba?

[2018-02-05 20:17] amoeba commented on #66
Awesome, I'll take a look now and close this.

[2018-02-05 20:17] amoeba commented on #66
I still see 2 warnings, which are counted as errors on Travis. I can fix this up later today unless you'd like to.

[2018-02-05 20:18] amoeba commented on #66
PS: The reason it's nice to get Travis succeeding is so, when PRs come in and the PR triggers a Travis build, if the build fails, the person knows their PR caused the failure and the maintainer can know not to merge the PR.

[2018-02-06 00:15] jeanetteclark commented on #66
When do you see the warnings? when I ran this on my branch I didn't get any warnings when I run devtools::documents() but maybe I missed a step in document fixing

[2018-02-06 00:19] amoeba commented on #66
Hrm, I ran it on `master` a bit ago,

It looks like the warnings are line length issues and missing @params.

[2018-02-06 00:30] jeanetteclark commented on #66
I'll pull from upstream and check again tomorrow. Do you just run devtools::documents() in the console?

[2018-02-06 00:30] amoeba commented on #66
`devtools::check()`, and I usually just click the Check button in the Build tab in RStudio. Thanks!

[2018-02-07 08:30] amoeba commented on #66
All good. Thanks a ton @jeanetteclark. This was a big time saver.

[2018-02-07 08:30] #66 closed

[2018-02-15 01:55] amoeba opened #74 "Failing test "rightsholder is properly set back after publishing an update" for some users"
When @jeanetteclark ran the tests, she got this failing test:

[code]

When I run the test, it succeeds. I switched my token to a new user identity from https://search-stage.test.dataone.org, re-ran the test, and it failed in the same way. I re-ran the test with a token I grabbed directly from test.arcticdata.io and it works.

@jeanetteclark where are you grabbing your test token from? This sounds

[2018-02-23 17:16] isteves commented on #59
@emilyodean I tried this function out yesterday.  I had two pids with the same data table, so I passed both into the `pid` argument and ended up with one data table with 2 physicals.  I'm kind of a fan of this, but I think we generally want to have separate data tables for each physical.  If you plan to expand this function even more, it might be a direction to consider!  (and perhaps keep both op

[2018-03-19 23:05] #36 closed

[2018-03-21 23:13] dmullen17 opened #77 "Presence of a metadata SID breaks publish_update"
When a package has an SID attached to a metadata object `publish_update` fails.

[2018-03-22 22:46] amoeba commented on #77
Interesting. SIDs are less well-tested territory.

How does it fail?

[2018-03-22 22:55] jagoldstein commented on #77
That is the question... @dmullen17 will try to reproduce this failure using a `UUID` as a `SID` on test.arcticdata.io.

It may fail by not aggregating the EML with the rest of the package.
OR it may appear to fail silently on the front end by simply not updating.
OR it may take longer than usual to update (or index) a package with a `SID` (4 to 16 hours) and we just think it failed after the first

[2018-03-22 22:56] dmullen17 commented on #77
It disassociates the metadata from the resource map + data objects.  The way Sharis and I tried it was calling `publish_update` on a parent with an SID and using the version pid for the `metadata_pid` argument.  It seems like this failed in both cases, although we haven't ruled out slow indexing (it took 4+ hours for both of ours).

Let me see if I can come up with an MRE on test to rule out slow

[2018-03-23 00:05] dmullen17 commented on #77
Here's the first version of the package with a SID: https://test.arcticdata.io/#view/urn:uuid:385710b2-4cbe-43b4-b83a-9d1e6c21d7bd

Second version after publish_update (not working as of this comment): https://test.arcticdata.io/#view/urn:uuid:8c96da2e-b2c5-42f7-a4ae-a85eefd0b2bb

Hopefully this will resolve by tomorrow and we can chalk it up to an indexing issue.

Here's the MRE:
[code]

[2018-03-28 21:58] isteves opened #78 "Double parents for child packages"
Originally filed in metacatui: https://github.com/NCEAS/metacatui/issues/492

It seems that the following sequence results in children associated with two versions of the same parent:

1. Parent + children
2. Parent (NO children)
3. Parent + children (added back in to resource map)

RESULT: children are associated with parent from (1) and (3)

I accidentally did that here: https://arcticdata.io/ca

[2018-03-29 17:24] isteves opened #79 "Package dependencies"
I tried installing arcticdatautils on a PC, and I needed to install the following six packages before it would work:

- digest
- stringi
- xml2
- hash
- redland
- parsedate

The first three were relatively straightforward because I got this message: `ERROR: dependencies 'digest', 'stringi', 'xml2' are not available for package 'arcticdatautils'`. The other three packages showed up one at a time wi

[2018-03-30 00:30] amoeba commented on #79
Okay, on a fresh Windows 10 install with a fresh R install, I get this when running `remotes::install_github("nceas/arcticdatautils")`

[code]

I then went to install redland by itself and got a warning about not being able to move the unpacked package binary into place. Then I re-ran the install and it worked. Confirmed `library(redland)` works but the install of arcticdatautils fails.

This part

[2018-03-30 00:34] amoeba commented on #79
@isteves `hash` and `parsedate` are dependencies from the `dataone` package ,not `arcticdatautils`. The `dataone` package installed just fine for me just now.

Did you ever see any errors like what I was seeing?

[2018-04-02 17:16] isteves commented on #79
Forgot to take note of this when I installed datamgmt/etc on my PC, but I'll try it out on the next fresh laptop I get my hands on.  Thomas should be back tomorrow to give me access to some.

[2018-04-10 01:08] isteves commented on #79
I tried uninstalling some packages (`remove.packages(c("redland", "hash", "parsedate", "dataone", "datapack", "arcticdatautils"))`) and reinstalling arcticdatautils (`devtools::install_github("NCEAS/arcticdatautils")`) to see if I got the error.  I didn't, but I might try again on a PC at some point.

I also dug a bit into package dependencies and found the [miniCRAN](https://github.com/andrie/min

[2018-04-23 21:13] amoeba commented on #77
Harumph, I didn't update this Issue when I did some research a while back. We do have a bug related to SIDs somewhere in here. I'll look for and link in relevant tickets/notes.

[2018-04-23 22:44] amoeba commented on #77
Found some SID-related bugs:

https://redmine.dataone.org/issues/8520: Causes metadata objects with SIDs to not get indexed sometimes. A dev can fix this after-the-fact but it does require an intervention.
https://redmine.dataone.org/issues/8536
https://redmine.dataone.org/issues/8537

It looks like SIDs are pretty touchy right now.

[2018-04-25 17:38] jagoldstein commented on #77
Yes, the SIDs have been pretty touchy and we are reluctant to suggest or apply them as is.

We have a publishing work-around for SIDs right now, but using it does not instill a lot of confidence in me, thus we are only using SIDs sparingly (when contributors really push us for one or if it seem like it's the only good solution). That is why I have applied my new label "blocker" here.

[2018-04-25 17:43] amoeba commented on #77
I'll bring this up on this weeks dev call to see where we need to go to get
SIDs working.

[2018-04-25 17:44] jagoldstein commented on #77
thanks @amoeba

[2018-04-26 21:52] amoeba commented on #77
We talked about this today on our weekly dev call, which some DataONE staff joined for another reason. Dave at DataONE will take a look at this and other SID issues and we'll work from there.

[2018-05-08 22:32] amoeba opened #84 "Update guess_format_id with new formats"
We're getting some new formats in dataone, https://gist.github.com/amoeba/d4771fc01d4f8f66c44202856d078e8e

- Update `guess_format_id`'s extension<->formatId map
- Make sure ipynb -> json is in there as it's non-obvious
- Can we add MATLAB version detection to the algo? I already did this for netcdf
- What can we do about RAW files? Are there a few common RAW extensions?

[2018-05-09 00:02] maier-m commented on #84
May be difficult to find MATLAB version.
Could potentially use `foo <- R.matlab::readMat("file_path")`
and `attr(foo, "header")$version`, but on the few tests I've run all return "5" which is not? a MATLAB file type version. Also v7.3 won't open with the above R package (could use a `try` call and possibly the `h5` package to confirm v7.3 files). Other approaches may be more efficient.

[2018-05-09 22:43] isteves opened #86 "Figure out R 3.5 Travis issues"
Travis is unhappy with the add-ons specified in the yml (especially [ncdf4](https://packages.debian.org/buster/r-cran-ncdf4)) when tested in the devel/release R environment.  (It's happy in the old release.)

So far I've tried:

- removing `cache: packages` - suggested in various places, including [here](https://github.com/r-spatial/sf/issues/729)
- adding `update: true`

In datateam-training, I o

[2018-05-10 21:47] amoeba commented on #86
Odd. The error I see on the failed build relates to a GPG key for MongoDB. [This](https://github.com/travis-ci/travis-ci/issues/8554) makes it look like a more general Travis CI issue and not with our repo. Looks kinda like having to install ncdf4 is causing the Travis issue to crop up.

This is an easy fix: arcticdatautils shouldn't need ncdf4 anyway. It should've been a `Suggests` all along so I

[2018-05-10 21:50] isteves commented on #86
Hopefully that works!  Haven't checked to see if the other addons also break.

[2018-05-10 21:54] amoeba commented on #86
Yeah it might not be the fix: We still require `librdf0-dev` which means we need to run `apt-get`.

[2018-05-10 22:46] amoeba commented on #86
Appears to be [happy](https://travis-ci.org/NCEAS/arcticdatautils/jobs/377495813) now. Triggered one more build to clean up the `Depends` list but I think this is good. I"m heading out but will check back later. Please feel free to close if the current build comes back ♦️ .

[2018-05-14 17:08] isteves commented on #86
Thanks @amoeba and @cboettig for figuring this out!

[2018-05-14 17:08] #86 closed

[2018-05-17 21:28] maier-m opened #89 "Clean up pid_to and sysmeta_to functions"
Currently there are:
`pid_to_eml_other_entity`
`pid_to_eml_datatable`
`pid_to_eml_physical`
`sysmeta_to_eml_other_entity`
`sysmeta_to_eml_physical`
And the implementation of these don't seem consistent.

I think these could be consolidated to the following with consistent implementation.
`sysmeta_to_eml_physical` (no changes)
`pid_to_eml_physical`  (no changes)
`pid_to_eml_entity`

where `pid_to_e

[2018-05-30 18:50] smfreund opened #92 "eml_party: adding multiple organizations"
Cannot use `eml_party` to add more than one organizationName.

[code]

[2018-06-07 23:34] maier-m opened #93 "create_dummy_x functions shouldn't work on PROD"
Create functional tests to prevent functions of the type `create_dummy_x` to fail if tried on a PROD node.
These types of functions should only be used on non-Production nodes.

Also, make sure all unit tests use `create_dummy_x` functions when applicable so that they are guaranteed to not publish on PROD.

[2018-06-26 01:05] isteves opened #95 "get_all_versions"
`get_all_versions` can be rewritten to be faster using queries rather than getSystemMetadata()

@maier-m

[2018-06-29 18:23] isteves opened #96 "Add `update_package_object`"
Currently lives in `datamgmt`, but probably more appropriate here.  The tests currently take a long time to run because a lot of the EML is built up in the test (if I remember correctly), and the code could probably be cleaned up somewhat.

@dmullen17 maybe this is something you'd be able to do at some point/or mentor someone through?
also: @jagoldstein @jeanetteclark

[2018-06-29 18:24] isteves commented on #96
also here: https://github.com/NCEAS/datamgmt/issues/136

[2018-07-11 17:30] dmullen17 opened #99 "Add more checks to `publish_update`"
Add version control checks at the beginning of publish update, to catch already obsoleted pids earlier in the function

[2018-07-31 18:27] dmullen17 commented on #95
Best to leave this as is because the solr query can get backlogged

[2018-07-31 18:27] #95 closed

[2018-09-10 22:57] #29 closed

[2018-09-12 23:53] drkrynstrng commented on #38
If `getSystemMetadata` does not find the system metadata associated with a given PID on a given MN, then it returns a warning and NULL instead of an error. The NULL would then get passed on, which causes a somewhat cryptic error stating that the rightsHolder slot cannot be found, for example. `set_rights_and_access` will display the warning message `getSystemMetadata` gives that the system metadat

[2018-09-13 16:09] #38 closed

[2018-09-13 16:11] #96 closed

[2018-10-02 16:38] dmullen17 commented on #59
resolved by #71

[2018-10-02 16:38] #59 closed

[2018-10-05 00:25] drkrynstrng opened #109 "Update pkgdown site"
I noticed there is a pkgdown site but it does not seem to be linked to anywhere:
https://nceas.github.io/arcticdatautils/

It needs to be updated along with function docs and vignettes. There is also a way to automate updating of the site through Travis builds whenever docs or vignettes change: https://www.datacamp.com/community/tutorials/cd-package-docs-pkgdown-travis
or, using the tic package,
h

[2018-10-05 15:11] #31 closed

[2018-10-08 18:29] #62 closed

[2018-10-08 18:31] #26 closed

[2018-10-08 18:35] dmullen17 commented on #11
`get_package` returns an error saying no system metadata could be found for the given identifier.  Not sure when this was updated but closing the issue.

[2018-10-08 18:35] #11 closed

[2018-10-08 18:47] dmullen17 commented on #93
@jagoldstein what do you think about this one?  I'm leaning towards closing it without making this change because these functions can be used for testing on production nodes.

[2018-10-08 19:44] dmullen17 commented on #92
Based on the EML schema https://knb.ecoinformatics.org/emlparser/docs/eml-2.1.1/eml-party.png and reference guide: https://manual.altova.com/xmlspy/spyenterprise/index.html?xseditingviews_schv_cmview_objects.htm, it looks like `orngaizationName` is a single element and can't contain multiple fields.

We can just stick to the one-string workaround `organization = "NCEAS, Planet Earth"`

[2018-10-08 20:17] jagoldstein commented on #93
@dmullen17 you have used this function on PROD proving that there are use cases where this function is helpful on PROD.

I am ok with closing it but perhaps @amoeba has a different opinion.

[2018-10-08 20:17] jagoldstein commented on #93
oops, did not mean to close it yet

[2018-10-08 22:01] dmullen17 commented on #7
`get_package` has the second and third bullet points implemented already.  Implementing the first bullet in #110

[2018-10-08 22:01] #7 closed

[2018-10-09 19:58] amoeba commented on #92
Hey @dmullen17 	that's not quite right: Each party can have multiple organizations:

<img width="226" alt="screen shot 2018-10-09 at 11 56 45 am" src="https://user-images.githubusercontent.com/563/46694876-6b56b400-cbba-11e8-9024-59f3cbf653a2.png">

The above reads as "1 or infinite of { `individualName`, `organizationName`, `positionName` }.

e.g.,

[code]

[2018-10-09 20:09] dmullen17 commented on #92
So that's what that symbol means!  `eml_party` should probably be able to handle multiple inputs to those 3 fields - reopening.

[2018-11-08 21:28] #13 closed

[2018-11-08 21:28] #33 closed

[2018-11-09 20:59] dmullen17 opened #115 "make previous versions public when assigning a DOI"
From ADC call on 11/9 when a package is published with a DOI then all previous private versions should be made public to expose the version history.  When `use_doi=TRUE` it should query all previous versions and add `public READ`.

[2018-11-15 22:02] drkrynstrng opened #117 "Error when using address argument in eml_party()"
For `eml_party()` and its derivatives like `eml_creator()` the address argument does not seem to work. It errors with a character input:

[code]

The address field in EML is more complicated than the other fields, with subfields including deliveryPoint, city, etc., so this is probably the root of the issue.

[2018-11-15 22:42] drkrynstrng opened #118 "Return attributeList when using pid_to_eml_entity()"
Currently, `pid_to_eml_entity()` does not return the attributeList for data objects. It would be useful to have an option to return the attributeList.

[2018-11-30 17:48] jeanetteclark opened #121 "Refactor to be compatible with new version of EML (eml2)"
The EML update moving to S3 objects is coming, and while it does maintain backwards compatibility with the old version, I'd like to see us refactor our code to stay up to date. We'll need to update all of the functions that rely on `eml`. Here is a running list (from eml.R, there may be others). We will also need to update the tests.

- [x] add_methods_step : function (doc, title, description)
- [

[2019-02-01 23:16] jeanetteclark commented on #121
done with all of the functions, and have done some preliminary testing. tasks remaining:

- [ ] review documentation to make sure `dontrun` examples would run

- [ ] identify places where `stopifnot` tests should be implemented

- [ ] fix warnings and notes after checking the package with `devtools`

[2019-02-01 23:33] jeanetteclark commented on #118
I don't think this is in the scope of the function. There are two use cases here:

- adding an object to a data package (workflow: `publish_object`, `set_attributes`, `pid_to_eml_entity` with attributeList as an argument)

- adding a physical section to an existing object (workflow: `pid_to_eml_physical`, insert `physical` into appropriate dataTable

@dmullen17 if you disagree feel free to reopen

[2019-02-01 23:33] #118 closed

[2019-02-01 23:36] jeanetteclark commented on #117
No error, just maybe bad documentation. the address element should be a valid EML address field

[2019-02-01 23:36] #117 closed

[2019-02-01 23:43] jeanetteclark commented on #93
right now the function will not let you publish on `prod` and it seems like we haven't come up with a use case yet, so if it is used it is infrequent. I vote we keep Mitchell's change and close. Feel free to reopen if anyone thinks otherwise

[2019-02-01 23:43] #93 closed

[2019-02-01 23:44] #79 closed, assigned to nobody

[2019-02-25 17:58] dmullen17 opened #126 "Update functions that set sysmeta fileName"
Update functions that set the `fileName` field in system metadata to the following conventions:
+ New resource map filenames will be: `resource_map_{UUID-for-RDF}.rdf.xml`
+ Data, metadata, and resource map file names will have all non [A-Za-z0-9] replaced with _ (underscore)

[2019-04-09 16:45] dmullen17 opened #128 "Make sysmeta_to_eml_physical smarter about test nodes"
`sysmeta_to_eml_physical` has a hard-coded online distribution to the production environment.  It could try to set a different base URL on `originMemberNode` in the system metadata and default to `"https://cn.dataone.org/cn/v2/resolve/"` if it can't guess a better option.

[2019-05-03 18:18] jagoldstein commented on #126
reference https://github.com/NCEAS/metacatui/issues/915

[2019-05-28 17:03] jagoldstein commented on #126
@dmullen17 please remember to update `update_object` as well

[2019-05-28 17:20] dmullen17 commented on #126
@jagoldstein yea I added it in the previous commit - just didn't reference it in the commit message. https://github.com/NCEAS/arcticdatautils/pull/130/commits/2999f25982ef3ddba51b665e8d1dd76993177224#diff-cbad68437001c7e024df43fecf5c222bL187

[2019-05-28 19:57] jagoldstein commented on #115
@mbjones nixed this approach

[2019-05-28 19:57] #115 closed

[2019-05-28 20:01] #78 closed

[2019-05-28 21:19] #126 closed

[2019-06-19 22:21] jeanetteclark opened #131 "allow PROV to be carried forward with update in certain scenarios"
(carryover from this issue: https://github.com/NCEAS/metacatui/issues/310)

**Scenario A: update object that has some objects that are unchanged in the new package**
O1 <---derivedFrom--- O3 (using script S1 during execution E2)
O4 added as new object
Metadata updated

**Scenario B: update metadata for a package without changing objects**
O1 <---derivedFrom--- O3 (using script S1 during execution

[2019-06-20 00:28] amoeba commented on #131
Thanks for chatting about this earlier today and writing this up.

Stepping back, I see two general patterns: (1) Keeping PROV by default and (2) dropping PROV by default **unless** certain scenarios are met. You've outlined option (2) which I think is a reasonable approach. If we go that route, I think we want two things:

1. A way to force `arcticdatautils` to not drop the PROV when it otherwise

[2019-06-20 01:09] mbjones commented on #131
When updating a document like an RDF resource map, I think the default should be to preserve its contents and not be lossy unless there is a specific reason to drop something.  Losing RDF triples should be considered a bug, as we will likely add other triples to our ORE docs over time. We shouldn't lose metadata every time it travels through the utils package, as that introduces the need for lots

[2019-06-20 17:36] jeanetteclark commented on #131
@mbjones, I'm a little confused about your 3rd point since it seems in conflict with your comments [here](url), but maybe I am misunderstanding it.

Let's say we have a package with the following PROV trace:

OBJECT_2 <---derivedFrom--- OBJECT_1 (using a SCRIPT during an EXECUTION)

If OBJECT_2 is updated with a new version of the file from a different execution of the same script, I think it is c

[2019-06-20 21:00] amoeba commented on #131
I agree, and that's the way we had it when we started inserting PROV into DataONE packages, but there's plenty of cases where migrating PROV forward doesn't make sense (which we've outlined here and elsewhere). @jeanetteclark 	's example above is a good example of this.

Re:

This sound good but it doesn't sound like a good fit for the `arcticdatautils` API which is currently totally ignorant of s

[2019-06-21 16:48] jeanetteclark commented on #131
Yeah it is not set up very well to do this kind of thing at all at the moment. This is definitely something we should consider when we start work on refactoring the R packages.

In the meantime...we should find some kind of solution for `arcticdatautils`. @amoeba I liked your solution above, it should be fairly easy to implement in the package

[2019-07-26 19:57] jeanetteclark opened #138 "make `public` arguments consistent across functions"
- `update_resource_map` should be able to carry forward access policy like `update_object` does
- check other functions to ensure behavior is consistent

[2019-09-25 21:30] amoeba opened #141 "Update package for EML 2.2.0"
Hey @jeanetteclark, @dmullen17: There are a couple of places where `arcticdatautils` is hard-coded to EML 2.1.1. Now that EML 2.2.0 is out in the wild, I think it's safe to up arcticdatautils act like EML 2.2.0 is the latest version.

Most importantly, `publish_update` assumes a format_id of EML 2.1.1 and can't be overridden:

https://github.com/NCEAS/arcticdatautils/blob/854eccb4e4f093dffa5cbb068

[2019-09-25 21:45] jeanetteclark commented on #141
Hey Bryce, this sounds good to me. I think we should automigrate, but we need to wait until support is fully implemented in metacatUI otherwise users won't be able to update their datasets. We mentioned this on the call last week but you may have dropped off already.

[2019-09-25 21:50] amoeba commented on #141
Ah, right. So it sounds like `arcticdatautils` should generally stick to 2.1.1 unless the user is already working with an EML 2.2.0 record. For example, if I run `publish_update` on a package with an EML 2.2.0 record, it should stay EML 2.2.0. If I run `publish_update` on an package with EML 2.1.1, it should also stay EML 2.1.1.

[2019-09-25 22:13] jeanetteclark commented on #141
I think once EML 2.2.0 is fully integrated, then we can start auto-migrating

[2019-09-25 23:41] jeanetteclark commented on #141
started a new branch for this https://github.com/NCEAS/arcticdatautils/tree/eml2_support

none of this is going to helpful until the namespace issue in ropensci/emld is resolved, however

[2019-09-26 22:57] amoeba commented on #141
Alright, tweak to make `publish_update` let us work between the EML 2.1.1 and EML 2.2.0 formats done in 1208216e20a58364d031d3920a04a97c6cce7068. This can be merged when you think is appropriate @jeanetteclark and the rest can come once we're ready to fully migrate to EML 2.2.0 as the default.

[2019-09-27 21:59] jeanetteclark commented on #141
Hey Bryce - I made some minor changes in [`0bf5fcc`](https://github.com/NCEAS/arcticdatautils/commit/0bf5fccac6aedb9ce120120c5586c798bd7a3318). I'd prefer to have just one helper function for the `formatId`, which takes an argument, as opposed to two functions. Right now there is no default for the version argument, but once we are fully integrated we can set it to 2.2

[2019-10-04 16:43] dmullen17 opened #142 "Recover failed submission function"
We should add a `recover_failed_submission` function loosely based on the following script: `'/home/dmullen/R/recover_submission_template.R'`.  Function arguments be `mn`, `pid`, and `path`.  This function should just grab the pid, remove the error message, and write it to the path.

We could also add optional arguments - like `resource_map_of_package_to_replace` (might need a better name) that do

[2019-10-04 20:33] amoeba commented on #142
Hey @dmullen17, what's a failed submission in this case? I see the lines where you're reading the an object to a char vec and removing `"EML draft.*</error>`"`. What causes that?

[2019-10-04 21:18] dmullen17 commented on #142
A couple different things can cause it - usually poor internet connection.  @laurenwalker might know better than me.

[2019-10-04 21:57] amoeba commented on #142
Ah, gotcha. Thanks.

[2019-10-10 02:06] amoeba commented on #141
That sounds like the best way. Good catch.

[2019-10-10 23:38] dmullen17 opened #145 "Download script"
@jeanetteclark @amoeba what do you think about adding a helper function that does something similar to this?  This is just a script I modify from time to time so it's not very clean.

[code]

[2019-10-10 23:54] amoeba commented on #145
I saw the RT ticket that probably prompted this. I think it's a good script to have somewhere since it comes up every once in a while. It's a little more general than arcticdatautils though, could datamgmt be place for it? I'm not overly picky here.

As for what the script does, it looks good.

[2019-10-11 00:02] dmullen17 commented on #145
Yea `datamgmt` seems like a better place for it.

As kind of an aside each call to `wget` throws an authentication error that doesn't end up interfering but is annoying.  So i decided to add the `--no-check-certificate` argument.  It's increased the download time by orders of magnitude.  With `--no-check-certificate` it took `real	0m29.750s`.  I'm still waiting on the time to return for the other

[2019-10-11 00:03] amoeba commented on #145
Hrm, weird. Let me give it a go here and see. Maybe we have a config issue.

[2019-10-11 00:06] amoeba commented on #145
Which version of wget are you using? I don't get any errors or warnings. I'm on GNU Wget 1.20.3.

[2019-10-11 15:57] dmullen17 commented on #145
Just updated to Wget 1.20.3.  Upon further inspection the file sizes are all 0 bytes if you don't include `--no-check-certificate` 🤦‍♂

[2019-10-11 16:56] amoeba commented on #145
Weird, no issues here. My script has lines like:

[code]

[2019-10-11 17:03] dmullen17 commented on #145
Yea it also worked the PI that I sent the script to.  I think we should include --no-check-certificate` just to be safe.

[2019-10-11 17:03] #145 closed

[2019-11-08 22:03] rachelsun97 commented on #84
@dmullen17 i can look into this if it hasn't been resolved yet!

[2019-11-14 22:51] jeanetteclark commented on #131
@amoeba I finally got around to this and have a tested solution. Do you mind checking it out here:

https://github.com/jeanetteclark/arcticdatautils/tree/carry_prov

@dmullen17 it would be good if you had a look too. If we like this, I can create a pull request for it for more formal review

I have tests written up but to play with the functionality install the package from that branch and then pl

[2019-11-14 22:59] jeanetteclark commented on #138
this was fixed in PR #139

[2019-11-14 22:59] #138 closed

[2019-11-14 22:59] #121 closed

[2019-11-21 18:44] dmullen17 commented on #142
Closed by #144

[2019-11-21 18:44] #142 closed

[2019-11-22 19:21] rachelsun97 commented on #67
According to the documentation for `eml-literature module` written [here](https://eml.ecoinformatics.org/eml-schema.html), we can manually add the bibtex element directly into the EML as of version `eml2.2.0`. So this ticket may be deprecated

[2019-11-26 04:26] amoeba commented on #131
Hey @jeanetteclark, thanks for putting this together. The warning with example code is 💯 btw.

Is defaulting to removing provenance (`keep_prov = FALSE`) what we want here? For the common cases, using `publish_update` to give a package a DOI or otherwise updating the metadata, provenance should probably get forwarded to the new package's resource map since it's still accurate. I'd have to scratch

[2019-11-26 17:38] jeanetteclark commented on #131
Certainly something that could be up for debate! I think what you describe is already integrated into my workflow, just need to change the default arg. I'll create a PR and we can see where we get from there

[2019-11-26 21:51] dmullen17 opened #152 "Add creator fields to contact and vice versa"
I'm wonder if a function that can take a creator or contact section and then add any personnel fields that are missing from one to the other.  It would be helpful to automate this as we typically just set the two sections to match as part of our processing.

[2019-12-02 19:03] dmullen17 opened #153 "Bug in eml_otherEntity_to_dataTable"
[code]

[2019-12-02 19:32] jeanetteclark commented on #153
Not sure if you were going to write more but this MRE doesn't make sense to me

[2020-01-15 22:06] dmullen17 opened #157 "Error handling for get_orcid_name"
`get_orcid_name` is a helper function called by `list_submissions` that attends to scrape an orcid url and return the submitter's name.  It looks like this is failing in some cases and it could use some error handling so that it doesn't cause the function call to fail.

An easy way to do this would be to just include some text to default to if it fails like "Orcid not found".

[2020-01-28 23:06] #153 closed

[2020-04-03 19:06] rachelsun97 opened #159 "Helper function for adding header lines to physical"
`eml_add_csv_headers` would be a function used to add the number of header lines found at the beginning of a csv file to an object physical. Sometimes csv files will contain multiple header lines (usually to provide more information about the data set), so this function would be used to account for that by modifying fields in the `physical`.

[2020-04-22 20:43] jeanetteclark opened #161 "encode physical section URLs"
`pid_to_eml_physical` automatically generates download URLs from the pid. These should be URL encoded, which is congruent with what metacatUI does (see https://github.com/NCEAS/metacatui/issues/523).

[2020-04-22 20:51] amoeba commented on #161
@jeanetteclark asked me to take a quick scan and I found three spots to update:

https://github.com/NCEAS/arcticdatautils/blob/master/R/eml.R#L106:L106
https://github.com/NCEAS/arcticdatautils/blob/master/R/eml.R#L1150:L1150
https://github.com/NCEAS/arcticdatautils/blob/master/R/eml.R#L106:L106

I looked for:

- Calls to `EML::set_physical`
- Strings with "cn/v2", "resolve", and "object"

[2020-04-27 17:07] #159 closed

[2020-04-27 18:16] laijasmine commented on #161
assigning this issue to myself in comments because I don't have the permission to

[2020-05-11 21:42] #161 closed

[2020-06-15 22:45] jeanetteclark opened #169 "Access policy is lost sometimes"
Sometimes the access policy is lost on an update. Need to search through and figure out where this happens. I think it may be `publish_update`

[2020-06-15 23:05] laijasmine commented on #169
Leaving this here just incase it helps:
[code]

[2020-07-24 20:07] jeanetteclark opened #171 "update function defaults to EML 2.2.0 on metacatUI release"

[2020-07-30 21:07] laijasmine commented on #171
#141 ?

[2020-07-30 21:11] laijasmine opened #172 "develop semantic annotation helper functions"
To make supporting EML2.2.0 easier we should consider developing some helper functions

- [ ] get a list of classes from https://bioportal.bioontology.org/ontologies/OBOE/?p=classes to choose from
- [ ] a function that gets the `propertyURI` when given a label?
- [ ] a similar function that gets the `valueURI`

[2020-07-30 21:16] #171 closed

[2020-07-30 22:36] laijasmine commented on #172
potentially to tweak this for our uses:
https://www.bioontology.org/wiki/Annotator_R_Client

[2020-07-31 02:28] amoeba commented on #172
Heya @laijasmine, let me know if you have any questions about EML annotations, semantic search, OBOE/ECSO, BioPortal, etc. I'm excited to see what the team comes up with here.

One note: BioPortal has a handy Term Search API endpoint (documented at http://data.bioontology.org/documentation#nav_search) which can be used to find the most likely term(s) given a free text input (i.e., an `attributeNam

[2020-07-31 16:20] laijasmine commented on #172
Thanks @amoeba ! I can see that I will have lots of questions as I dig deeper into this.

[2020-07-31 17:07] mbjones commented on #172
Also, I think the best place for new helper functions for semantic annotations is in the `EML` package and not in `arcticdatautils`. The only thing that should go in `arcticdatautils` are functions that only are useful to the Arctic Data Center. Anything that has general utility should go elsewhere.

[2020-07-31 17:13] jeanetteclark commented on #172
Good catch - yes this should definitely go in EML

[2020-07-31 17:17] laijasmine commented on #172
ah ok will move this over there thanks!

[2020-07-31 17:17] #172 closed

[2020-08-05 18:46] jeanetteclark opened #174 "Switch checksum algorithm to SHA-256"
Affects `publish_object` and `update_object`, possibly other create functions

[2020-08-05 23:32] #174 closed

[2020-08-19 22:06] jeanetteclark commented on #141
@kristenpeach I wonder if you would be interested in tackling the last two items on this list so that instead of creating EML 2.1.1 documents they create EML 2.2.0 documents by default.

I'm not 100% sure what will be involved but I imagine it will be a simple fix

-  Update `create_dummy_metadata()`
- Update `create_dummy_package_full()`

[2020-08-19 22:07] jeanetteclark commented on #152
I'm going to close this - I'd rather us use references here

[2020-08-19 22:07] #152 closed

[2020-08-19 22:09] jeanetteclark commented on #52
this was fixed in PR #175

[2020-08-19 22:09] #52 closed

[2020-08-19 22:11] jeanetteclark commented on #47
closing this, I fixed this issue a while back to automatically convert https to http, which fixes the arcticdatautils side of things.

Matt's issue above is still outstanding, but needs to be handled in dataone land

[2020-08-19 22:11] #47 closed

[2020-08-19 22:12] jeanetteclark commented on #28
old issue, we have lots of options for this now

[2020-08-19 22:12] #28 closed

[2020-10-01 00:58] amoeba opened #180 "`create_dummy_metadata` creates an EML 2.2.0 Object with a 2.1.1 XML document"
I just noticed the our `create_` helpers were creating EML 2.2.0 Objects with EML records serialized as EML 2.1.1. You can see an example at https://test.arcticdata.io/view/urn%3Auuid%3Ac6e2ea97-ba1b-4794-93c4-ea67d701b3a3.

I see that, in `create_dummy_metadata`

https://github.com/NCEAS/arcticdatautils/blob/5d358699df8fbf2c6710e3c825193db6479a238a/R/helpers.R#L22-L34

we reference https://github

[2020-10-01 04:36] #180 closed

[2020-11-20 20:58] laijasmine opened #181 "Automatically set entityType to formatId"
Currently it is automatically set in the `arcticdatautils::pid_to_eml_entity`. where otherEntity is set as `Other` and all other `entities` (like dataTable) `NULL`. The `entityType` should be set the formatId

Same applies for `eml_otherEntity_to_dataTable()` and any other functions helping to create entities

[2020-11-21 01:27] laijasmine opened #182 "write a wrapper for creating a new DataObject"
`arcticdatautils::publish_object()` has a lot of nice functionality that would be nice to include in an Arctic Data Center (or even DataOne?) specific function:

1. guessing  and checking the format
[code]

2. generating the id
[code]

This will help reduce mistakes that might occur when creating a new dataObject
[code]

[2020-12-11 23:15] laijasmine opened #183 "Use tryCatch when eml_nsf_to_project fails"
There might be errors when getting `eml_nsf_to_project`. Add a more informative error message using `tryCatch` for those cases.

Most recently this happened when the NSF api was down. We got this uninformative error message:

[2021-01-04 19:44] #182 closed

[2021-02-20 20:44] csjx opened #186 "Rename the master branch to main"
From an inclusivity perspective, I suggest we rename the `master` branch to `main` and generally use more welcoming terms as we describe our software architectures. The use of the the terms `master` and `slave` in computing are not welcoming.  For context, see the [Inclusive Naming](https://inclusivenaming.org) project and [this repo](https://github.com/github/renaming).

[2021-02-22 17:02] laijasmine commented on #186
yes! been wanting to do this! Will make a point to do this by the end of the week before it slips off my to-do list again!

[2021-02-23 21:35] laijasmine commented on #186
Done!

[2021-02-23 21:35] #186 closed

[2021-03-15 22:24] #183 closed

[2021-03-15 23:14] #109 closed

[2021-05-11 22:31] laijasmine opened #187 "Support for switching from `publish_update` to `dataone::uploadDataPackage`"
We may want to keep some or all of this functionality of `publish_update` when we switch over to using `dataone::uploadDataPackage`. We should consider the following:
1. consider having a function to easily create file names based on the title like `arcticdatauitls::reformat_file_name` to make sure we have meaningful file names as noted in issue 248 in arctic-data
2. edits the distribution, system

[2021-05-20 20:37] eeerika opened #188 "eml_nsf_to_project extracts multi-word last names incorrectly"
Noticed it when running this funding number:
`eml_nsf_to_project("1822406")`

Maria Val Martin is extracted as Maria artin instead.

Likely has something do with the regex in the function.

[2021-05-20 21:20] laijasmine commented on #188
@eeerika might be helpful - https://stackoverflow.com/questions/275160/regex-for-names

[2021-05-27 19:59] #188 closed

[2021-08-17 22:56] laijasmine opened #191 "Add some custom functions created for the MOSAiC project"
They will mainly help with annotating datasets using the MOSAiC ontology. It will be useful in the 100 or so datasets we need to archive for the project but not really useful outside of that.

[2021-09-02 20:37] #191 closed

[2022-08-30 22:47] dvirlar2 opened #197 "QGIS & read_zip_shapefile"
**Context for Issue:**
I was trying to teach an intern how to create a `spatialVector` for a [dataset](https://arcticdata.io/catalog/view/urn%3Auuid%3Ad8431b90-e52c-4660-b9fc-c463ebc5dbdf), and we ran into the following error message when trying to read in the shapefiles:

[code]

Ways we tried to debug the issue:
- There's only 1 pid for the `upstream_pid` object, so no doubles there
- There's on

[2022-09-08 18:39] jeanetteclark commented on #197
found and fixed, in https://github.com/NCEAS/arcticdatautils/commit/5722e9c30b1af8bf537264de3bdc4621e0c73774

[2022-11-04 21:13] jeanetteclark opened #200 "`eml_otherEntity_to_dataTable` failing with one entity"
The bug that won't die, it's been a few years, but appears to be back in a newish form:

[code]
Returns the error

[code]

There is also a warning about coercing the LHS to a list. I think the issue stems from [this `if` statement](https://github.com/NCEAS/arcticdatautils/blob/main/R/eml.R#L198). I think this control flow is meant to make sure that the `oe` that is extracted is boxed even if it is

[2022-11-04 23:08] #200 closed